{% extends 'main.html' %}

{% block title %}
{{tweet.tweetTitleTag}}
{% endblock %}

{% block content %}


<h1>tweet.tweetTitle</h1>
By: 
{{tweet.tweetAuthor.first_name}} 
{{tweet.tweetAuthor.last_name}} - 
{{tweet.tweetDate}} 
        {% if user.is_authenticated %}
    <small>
        -<a href="{% url 'update_tweet' tweet.pk %}">Edit Tweet</a>
        <a href="{% url 'delete_tweet' tweet.pk %}">Delete Tweet</a>
        <hr>
        <br/>
        {{tweet.tweetText|safe}}
        <br/>
    </small>

{% else %}
Pls log in to edit the post
{% endif %}

<br/>
<br/>

<a href="{% url 'HomePage'%}" class="btn btn-dark">Back Button</a>


{% endblock %}